name: Deploy to FTP

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Sincronización FTP
    runs-on: ubuntu-latest
    steps:
      - name: Obtener últimos cambios
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 2
      
      - name: Sincronización FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.3
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
 	  protocol: ftp
          port: 21
          security: loose
          server-dir: public_html/
          timeout: 9999000
